/* 전체 화면 설정 */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1c1c1c;
  color: var(--primary-dark);
}

/* 폼 컨테이너 */
.form-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

/* "Welcome!" 텍스트 스타일 */
.welcome-text {
  font-size: 4rem;
  color: var(--primary-dark);
  margin-bottom: 10px;
}

/* "Sign In" 텍스트 스타일 */
.signin-text {
  font-size: 1.3rem;
  color: #828282;
  margin-bottom: 60px;
}

/* 로그인 폼 스타일 */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* 입력 컨테이너 스타일 */
.input-container {
  position: relative;
  width: 100%;
}

/* 입력 필드 스타일 */
.input-field {
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #4a4a4a;
  background: transparent;
  color: #ffffff;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-dark);
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  transform: translateY(-20px);
  font-size: 1rem;
  color: var(--primary-dark);
}

/* 라벨 스타일 */
.input-label {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 1.5rem;
  color: #828282;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

/* 버튼 컨테이너 */
.button-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

/* 공통 버튼 스타일 */
button {
  flex: 1;
  padding: 13px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* sign in 버튼 스타일 */
.signin-button {
  background-color: var(--primary-dark);
  color: #000000;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #e68a00;
}

/* sign up 버튼 스타일 */
.signup-button {
  background-color: transparent;
  border: 2px solid var(--primary-dark);
  color: var(--primary-dark);
  transition: background-color 0.3s, color 0.3s;
}

.signup-button:hover {
  background-color: var(--primary-dark);
  color: #ffffff;
}
