.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-top: 30px;
  background-color: #282828;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.month-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.navigation-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-button,
.today-button {
  background-color: #333333;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.today-button:hover,
.nav-button:hover {
  background-color: #555555;
}

.calendar-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #282828;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 10px;
  gap: 0.8em;
}

.day-box {
  font-size: 1.4rem;
  padding: 5px 10px;
  background-color: #313133;
  color: #ededed;
  font-weight: 600;
  text-align: center;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  gap: 0.8em;
}

.date-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 15px;
  background-color: #313133;
  height: 165px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.date-box:hover {
  background-color: #444444;
}

.date-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-box {
  font-size: 1rem;
  background-color: #ff8a16;
  color: #313133;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.more-events {
  font-size: 0.8rem;
  color: #ff8a16;
  cursor: pointer;
  margin-top: 5px;
}

.more-events:hover {
  text-decoration: underline;
}

.next-month {
  opacity: 0.4;
}

.next-month:hover {
  background-color: #555555;
  opacity: 0.7;
}
